<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
userinfo
画像
name
名前
introducution
自己紹介
編集
newbook
tittle
記入欄
opnion
記入欄
createbook
bookdetail
tittle
opinion
制作者

<%= form_with model: @book do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
	
  <h4>本文</h4>
  <%= f.text_area :body %>
	
  <%= f.submit '投稿' %>
<% end %>